<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #toast {
        position: fixed;
        right: 20px;
        top: 60px;
    }
</style>
<body>

<div class="container" id="content">
    <div class="card text-left">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-message" href="#">买书私信</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" id="tab-comment">评论</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab-message-purchase" href="#">求购私信</a>
                </li>
            </ul>
        </div>

        <div class="card-body" id="card-body">

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">

            </ul>
        </nav>
    </div>
</div>

<div class="modal fade" id="modal-reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">回复</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <input type="text" class="form-control" name="messageId" id="messageId" hidden="hidden">
                    <div class="form-group">
                        <label for="description" class="col-form-label">内容:</label>
                        <textarea class="form-control" name="content" id="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit-reply">回复</button>
            </div>
        </div>
    </div>
</div>

<div id="toast" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header alter">
        <strong class="mr-auto" id="boast-content">success</strong>
    </div>
</div>

</body>
<script>

    var currentPageNum = 0;
    var pages = 0;
    var type = 2;
    var messageId = 0;

    function getMessage(page, type) {
        $.get("/message",
            {
                "pageNum": page,
                "type": type
            },
            function (data, textStatus, jqXHR) {
                if (data.data.records.length < 1) {
                    $("#pagination").html(" ");
                    $("#card-body").html("暂无消息");
                }
                $("#pagination").html(" ");
                $("#card-body").html(" ");
                $.each(data.data.records, function (i, item) {
                    var message = "    <div class=\"card\">\n" +
                        "        <div class=\"card-body\">\n" +
                        "            <h5 class=\"card-title\">" + item.bname + "</h5>\n" +
                        "            <h6 class=\"card-subtitle mb-2 text-muted\">" + item.sender + "</h6>\n" +
                        "            <p class=\"card-text\">" + item.content + "</p>\n";
                    if (item.isRead == 1) {
                        message = message +
                                "<button type=\"button\" class=\"btn btn-link disabled\">已回复</button>";
                            // "            <a href=\"#\" value=\" " + item.id + " \" class=\"card-link\">已回复</a>\n";
                    } else {
                        message = message +
                            "            <button id='btn-reply' type=\"button\" class=\"btn btn-link\" value=\" " + item.id + " \">回复</button>\n";
                    }
                    message = message +
                        "        </div>\n" +
                        "    </div>"
                    $("#card-body").append(message);
                });
                currentPageNum = data.data.current;
                pages = data.data.pages;
                if (pages > 1) {
                    if (currentPageNum == 1) {
                        $("#pagination").append(
                            "           <li class=\"page-item disabled btn-pre\">\n" +
                            "                <a class=\"page-link\" href=\"#\" aria-label=\"Previous\">\n" +
                            "                    <span aria-hidden=\"true\">&laquo;</span>\n" +
                            "                </a>\n" +
                            "            </li>"
                        );
                    } else {
                        $("#pagination").append(
                            "           <li class=\"page-item btn-pre\">\n" +
                            "                <a class=\"page-link\" href=\"#\" aria-label=\"Previous\">\n" +
                            "                    <span aria-hidden=\"true\">&laquo;</span>\n" +
                            "                </a>\n" +
                            "            </li>"
                        );
                    }


                    for (i = 1; i <= data.data.pages; i++) {
                        if (i == currentPageNum) {
                            $("#pagination").append(
                                "<li class=\"page-item active page-num\"><a class=\"page-link\" href=\"#\">" + i + "</a></li>\n"
                            );
                        } else {
                            $("#pagination").append(
                                "<li class=\"page-item page-num \"><a class=\"page-link\" href=\"#\">" + i + "</a></li>\n"
                            );
                        }
                    }

                    if (currentPageNum == data.data.pages) {
                        $("#pagination").append(
                            "           <li class=\"page-item disabled btn-next\">\n" +
                            "               <a class=\"page-link\" href=\"#\" aria-label=\"Next\">\n" +
                            "                   <span aria-hidden=\"true\">&raquo;</span>\n" +
                            "               </a>\n" +
                            "            </li>"
                        );
                    } else {
                        $("#pagination").append(
                            "           <li class=\"page-item btn-next\">\n" +
                            "               <a class=\"page-link\" href=\"#\" aria-label=\"Next\">\n" +
                            "                   <span aria-hidden=\"true\">&raquo;</span>\n" +
                            "               </a>\n" +
                            "            </li>"
                        );
                    }

                }

            },
            "json");
    }

    $(function () {
        getMessage(1, 2);

        $("#tab-message").click(function () {
            getMessage(1, 2);
            type = 2;
            $(".nav-link").removeClass("active");
            $("#tab-message").addClass("active");
        });

        $("#tab-comment").click(function () {
            type = 1;
            $(".nav-link").removeClass("active");
            $("#tab-comment").addClass("active");
            getMessage(1, 1);
        });

        $("#tab-message-purchase").click(function () {
            type = 1;
            $(".nav-link").removeClass("active");
            $("#tab-message-purchase").addClass("active");
            getMessage(1, 3);
        });


        $(document).off("click", "#btn-reply");
        $(document).on("click", "#btn-reply", function (e) {
            messageId = $(e.target).attr("value");
            $('#modal-reply').modal("show");
        });


        $("#submit-reply").click(function () {
            var formObj = document.getElementById("form");
            var formData = new FormData(formObj);
            formData.set("messageId", messageId);
            $('#modal-reply').modal("hide");
            $.ajax({
                type: "post",
                url: "/message/reply",
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data)
                    if (data.code == '1') {
                        formObj.reset();
                        $('.toast').removeClass('bg-danger');
                        $('.toast').addClass('bg-success');
                        $('.toast').toast('show');
                        $("#boast-content").html("回复成功");
                        getBookComment(bookId);
                    } else {
                        $('.toast').removeClass('bg-success');
                        $('.toast').addClass('bg-danger');
                        $('.toast').toast('show');
                        $("#boast-content").html(data.msg);
                    }
                }
            });
        });

        $(document).off("click", ".page-num");
        $(document).on("click", ".page-num", function (e) {
            var pageNum = $(e.target).html();
            getMessage(pageNum, type);
        });

        $(document).off("click", ".btn-pre");
        $(document).on("click", ".btn-pre", function (e) {
            if (currentPageNum != 1) {
                getMessage(currentPageNum - 1, type);
            }
        });

        $(document).off("click", ".btn-next");
        $(document).on("click", ".btn-next", function (e) {
            if (currentPageNum != pages) {
                getMessage(currentPageNum + 1, type);
            }
        });
    });

</script>
</html>