<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>校园二手书交易平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bookDetail.css}">
</head>
<body>
<div id="login-container">
    <h2>校园二手书交易平台</h2>
    <br>
    <form th:action="@{/login}" method="post">
        <input type="text" id="studentId" name="username" placeholder="学号"><br>
        <input type="password" id="password" name="password"  placeholder="密码"><br>
        <button class="loginBtn" id="login-button" type="submit">登录</button>
        <br>
    </form>
    <p id="errorInfo"></p>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
</body>
</html>
